---
namePrefix: trustyai-service-operator-

resources:
  - ../crd
  - ../rbac
  - ../manager
  - ../prometheus
  - ../configmaps

commonLabels:
  app.kubernetes.io/part-of: trustyai

configMapGenerator:
  - env: params.env
    name: config

configurations:
  - params.yaml

generatorOptions:
  disableNameSuffixHash: true

vars:
  - name: trustyaiServiceImage
    objref:
      kind: ConfigMap
      name: config
      apiVersion: v1
    fieldref:
      fieldpath: data.trustyaiServiceImage
  - name: trustyaiOperatorImage
    objref:
      kind: ConfigMap
      name: config
      apiVersion: v1
    fieldref:
      fieldpath: data.trustyaiOperatorImage
  - name: kube-rbac-proxy
    objref:
      kind: ConfigMap
      name: config
      apiVersion: v1
    fieldref:
      fieldpath: data.kube-rbac-proxy
  - name: kServeServerless
    objref:
      kind: ConfigMap
      name: config
      apiVersion: v1
    fieldref:
      fieldpath: data.kServeServerless
  - name: evalHubImage
    objref:
      kind: ConfigMap
      name: config
      apiVersion: v1
    fieldref:
      fieldpath: data.evalHubImage
  - name: evalhub-provider-garak-image
    objref:
      kind: ConfigMap
      name: config
      apiVersion: v1
    fieldref:
      fieldpath: data.evalhub-provider-garak-image
  - name: evalhub-provider-guidellm-image
    objref:
      kind: ConfigMap
      name: config
      apiVersion: v1
    fieldref:
      fieldpath: data.evalhub-provider-guidellm-image
  - name: evalhub-provider-lighteval-image
    objref:
      kind: ConfigMap
      name: config
      apiVersion: v1
    fieldref:
      fieldpath: data.evalhub-provider-lighteval-image
  - name: evalhub-provider-lm-evaluation-harness-image
    objref:
      kind: ConfigMap
      name: config
      apiVersion: v1
    fieldref:
      fieldpath: data.evalhub-provider-lm-evaluation-harness-image
